<!DOCTYPE html>
<html lang="en">
<head>
    <title>Student Details Form</title>
</head>
<body>
    <h1>Student Details Form</h1>
    <form method="POST" action="/details">
        <input type="text" name="name" placeholder="Enter name"/>
        <input type="text" name="email" placeholder="Enter email"/>
        <input type="text" name="city" placeholder="Enter city of birth"/>
        <input type="number" name="number" placeholder="Enter mobile number"/>
        <input type="number" name="grade" placeholder="Enter grade"/>
        <button type="submit">Submit</button>
    </form>
</body>
</html>